<launch>
  <node pkg="rplidar_ros" name="rplidarNode" type="rplidarNode" output="screen">
    <param name="serial_port"         type="string" value="/dev/rosLidar"/>  
    <param name="serial_baudrate"     type="int"    value="115200"/>
    <param name="frame_id"            type="string" value="laser"/>
    <param name="inverted"            type="bool"   value="false"/>
    <param name="angle_compensate"    type="bool"   value="true"/>
  </node>
  <node pkg="rosserial_python" name="serial_node" type="serial_node.py" output="screen">
    <param name="port" value="/dev/rosSerialClient"/>
    <param name="baud" value="57600"/>
  </node>
</launch>
